@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
    background-image: url(images/genshin-bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana, sans-serif;
}

.home-title {
    font-family: "Poppins", "Times New Roman";
    font-weight: 600;
    font-size: 3rem;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #2e2731;
    text-shadow: 2px 2px 20px #907697;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
}


.nav {
    position: sticky;
    top: 0;
    background-color: #312a35e8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    color: #2d2333ee;
    font-size: 2rem;
    font-weight: 600;
}

.nav ul {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #766283;
    width: auto;
}

.nav li:hover {
    background-color: #9a82aa;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.card {
    flex: 1 1 45%;
    margin-bottom: 10px;
    box-shadow: 5px 5px rgba(34, 34, 34, 0.753);
}

.card-header {
    position: relative;
    padding: 1rem;
}

.button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D0D991;
    border: 1px solid #c3cc8a;
    border-radius: 5px;
}

.button:hover {
    background-color: #F2D5CE;
    border: #dfc6c0;
}

.add-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.addCharacterTitle {
    margin-left: 8px;
}

.add-input {
    margin-left: 5px;
    width: 150px;
    height: 40px;
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.addCharacterInput::placeholder {
    font-size: 14px;
}

.add-button {
    background-color: #D0D991;
    border: 1px solid #c3cc8a;
}

.add-button:hover {
    background-color: #F2D5CE;
    border: #dfc6c0;
}

.message {
    font-size: smaller;
    margin-left: 10px;
}

.edit-button {
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 70px;
    background-color: #D0D991;
    border: 1px solid #c3cc8a;
}

.edit-button:hover {
    background-color: #F2D5CE;
    border: #dfc6c0;
}

.remove-button {
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 10px;
    background-color: #D0D991;
    border: 1px solid #c3cc8a;
}

.remove-button:hover {
    background-color: #F2D5CE;
    border: #dfc6c0;
}

.character-item {
    position: relative;
    padding: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.character-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 8px;
}

.tooltip {
    visibility: hidden;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.541);
    color: #fff;
    margin-left: 6px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.image-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.checkbox-container {
    display: inline-flex;
    align-items: center;
}

.checkbox-container.form-check {
    margin-right: 10px;
    margin-left: 10px;
}

.checkbox-container.form-check-input {
    margin-right: 10px;
}

.strikethrough {
    color: gray;
    text-decoration: line-through;
}

.character-amount-title {
    font-size: small;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.character-amount-form {
    width: 8rem;
    font-size: small;
}

.book-image {
    width: 250px;
    height: 250px;
}

.calculator-card-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
}

.calculate-button {
    margin-top: 5px;
    padding: 0.5rem;
    background-color: #D0D991;
    border: 1px solid #c3cc8a;
}

.calculate-button:hover {
    background-color: #F2D5CE;
    border: #dfc6c0;
}

.abyss-timer {
    position: absolute;
    top: 350px;
    right: 10px;
    height: 30px;
    display: flex;
    align-items: flex-end;
}

.abyss-image {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.abyss-reset-timer {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.541);
    color: #fff;
    margin-left: 6px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    top: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.abyss-timer:hover .abyss-reset-timer {
    visibility: visible;
    opacity: 1;
}

.theatre-image {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.theatre-reset-timer {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.541);
    color: #fff;
    margin-left: 6px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    top: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.theatre-timer:hover .theatre-reset-timer {
    visibility: visible;
    opacity: 1;
}

.timer-container {
    align-items: center;
}